.contactWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  & div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    & p {
      word-break: break-word;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}
