.form {
  width: 320px;
  height: 280px;

  border: 2px solid rgba(255, 215, 0, 0.7);
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 24px;
}
.group {
  margin-bottom: 12px;
}
.label {
  display: block;
}
.input {
  width: 100%;
  border-radius: 4px;
  height: 40px;
}

.error {
  font-size: 12px;
  color: rgba(255, 215, 0, 0.7);
}

.button {
  display: flex;
  margin: 0 auto;
  margin-top: 24px;
}
.input:hover {
  color: rgba(255, 215, 0, 0.7);
}
