.formWrapper {
  max-width: 320px;
  margin-right: auto;
  margin-bottom: 16px;
  & form {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    & label {
      font-weight: 400;
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;
    }
    & label input {
      font-size: 16px;
      border: 1px solid rgba(46, 47, 66, 0.4);
      padding: 8px 8px 8px 8px;
      min-height: 40px;
      border-radius: 4px;
      line-height: 1.5;
      &:focus {
        outline: transparent;
        border-color: #4d5ae5;
      }
    }
    & label p {
      position: absolute;
      top: 100%;
      font-size: 14px;
      /* line-height: 1.12; */
      color: rgb(226, 48, 17);
    }
  }
}
& button {
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  max-width: 150px;
  padding: 5px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &:hover,
  focus {
    background-color: #404bbf;
  }
}

.formLabel {
}
.formInput {
}
